.token {
    padding: 5px;
    font-size: 16pt;
}

.COMMENT { color: grey; }
.PRG_DELIM { color: tomato; }

.F_CODE { color: lightgreen; }
.G_CODE { color: teal; }

.N_CODE { color: orange; }
.T_CODE { color: orange; }
.H_CODE { color: orange; }

.M_CODE { color: green; }
.O_CODE { color: turquoise; }
.R_CODE { color: lightsalmon; }
.S_CODE { color: cyan; }
.Y_CODE { color: violet; }
.X_CODE { color: purple; }
.Z_CODE { color: red; }
