.token {
    padding: 5px;
    font-size: 16pt;
}

.COMMENT {
    color: grey;
}

.M_CODE {
    color: forestgreen;
}

.G_CODE {
    color: teal;
}

.M_CODE {
    color: green;
}

.Y_CODE {
    color: violet;
}

.X_CODE {
    color: purple;
}

.Z_CODE {
    color: red;
}
